    body {
      margin: 0;
      padding: 16px;
      font-family: sans-serif;
      font-size: 16px;
    }

    section {
      max-width: 800px;
      margin: auto;
    }

    [hidden] {
      display: none;
    }

    input, button {
      font-size: 16px;
      margin: 4px 0;
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
    }

    li:hover {
      background: #f5f5f5;
    }

    #title {
      width: 100%;
      font-size: 20px;
      margin: 8px 0;
      border: none;      /* 枠を消す */
      padding: 0;        /* 内側の余白もリセット */
      box-sizing: border-box; /* 幅計算にpaddingとborderを含める */
    }

    #editor {
      min-height: 70vh;
      outline: none;
      white-space: pre-wrap;
      word-break: break-word;
      border-top: 1px solid #ccc;
      padding-top: 16px;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 8px 0;
    }

    /* YouTube */
    .video {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      margin: 12px auto;
      /* max-width: 560px; */
    }

    .video iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    @media (max-width: 768px) {
      .video {
        max-width: 100%;
      }
    }